.redtext {
    color: tomato;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
}
#image{
    text-align: center;
}
textarea{
    text-align: center;
    /* margin-left: 50px; */
}
